/*INDEX*/
body {
    height: auto;
    width: auto;
}
.videoInicio {
    height: 85%;
    width: 85%;
}
.logoFooter {
    height: 85%;
    width: 85%;
    border-radius: 25%;
}
.marginTop {
    margin-top: 180px;
}

.logo {
    height: 90%;
    width: 90%;
    border-radius: 25%;
}